HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
build/

### Logs ###
*.log

### Database files (H2) ###
*.h2.db
*.mv.db
*.trace.db

### IDEs ###
.idea/
*.iws
*.iml
*.ipr


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
### OS ###
.DS_Store